/* Default stylesheet for rawdog. Customise this as you like.
   Adam Sampson <ats@offog.org> */
.xmlbutton {
	/* From Dylan Greene's suggestion:
           http://www.dylangreene.com/blog.asp?blogID=91 */
	border: 1px solid;
	border-color: #FC9 #630 #330 #F96;
	padding: 0 3px;
	font: bold 10px sans-serif;
	color: #FFF;
	background: #F60;
	text-decoration: none;
	margin: 0;
}
/* Scale down large images in feeds */
img {
	max-width: 100%;
	height: auto;
}
html {
	margin: 0;
	padding: 0;
}
body {
	color: black;
	background-color: white;
	margin: auto;
	width: 70%;
	//border: 1px solid red;
	padding: 10px;
	font-size: medium;
	line-height: 30px; 
	text-justify: inter-word;
	text-align: justify;
}
header {
	width: 100%;
	padding-top: 210px;
	padding-bottom:5px;
	background-image:url('./sscfitness.pdf');	
	margin-bottom: 1px;
	margin-top: 1px;
	background-repeat: no-repeat;
	text-align: center;
	background-size:103% 110%;
	text-justify: inter-word;
	text-justify: inter-word;
}
h1 {
	font-weight: bold;
	font-size: xx-large;
	text-align: left;
	margin: 5% 1%;
	padding: 0;
}
.day {
	clear: both;
}
h2 {
	font-weight: bold;
	font-size: x-large;
	text-align: left;
	margin: 10px 0;
	padding: 0;
}
.time {
	clear: both;
}
h3 {
	font-weight: bold;
	font-size: large;
	text-align: left;
	margin: 10px 0;
	padding: 0;
}
.item {
	margin: 5% 1pt;
	border: 1px solid gray;
	clear: both;
}
.itemheader {
	padding: 6px;
	margin: 0;
	background-color: #eee;
}
.itemtitle {
	font-weight: bold;
}
.itemfrom {
	font-style: italic;
}
.itemdescription {
	border-top: 1px solid gray;
	margin: 0;
	padding: 6px;
}
.feedsrow TD {
	padding: 5px 10px;
	margin: 0;
}
table{
	table-layout: fixed;
	width: 100%;
	height: 400pt;
	text-align: left;	
}
th{
	font-weight: normal;
}
a:link {
	color: gray;
}

/* visited link */
a:visited {
	color: gray;
}

/* mouse over link */
a:hover {
	color: gray;
}

/* selected link */
a:active {
	color: gray;
}
